*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
font-family: 'outfit';
background: beige;
}



.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:
}
